/* Main Page styling */
body {
  font-family: Arial, sans-serif;   /* sets website font */
  background-color: #f4f4f4; /* light gray page background */
  margin: 0; /* removes browser default spacing */
  min-height: 100vh; /* makes page full full screen height */
  display: flex; /* enables flexbox layout */
  flex-direction: column; /* stacks items vertically */
}

.logo{
  width: 80px; /* logo size */
  height: auto; /* keeps image proportions correct */
  margin-bottom: 0.5rem; /* space below logo */
}

header { 
  width: 100%; /* full width across page*/
  background: white; /* white background */
  padding: 2rem 1rem; /* space inside header*/
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* soft shadow under header */
  margin-bottom: 2rem; /* space below header */
  
  /* flexbox layout*/
  display: flex; 
  flex-direction: column;
  align-items: center; 
  text-align: center;  
}

.header-text{
  display: flex; 
  flex-direction: column;
  align-item: center; 
}

header p {
  color: gray; /* gray text color */
  margin-top: -10px;  /* pull slightly upward */
}

header h1 {
  margin: 0;  /* remove default spacing */
  font-size: 2.5rem; /* large title size */
}

header h2 {
  margin-top: 0.25rem; /* small spacing above */
  color: #0077ff; /* blue accent color */ 
  font-weight: normal; /* removes bold font */
  font-size: 1.2rem; /* subtitle size */
}

.project-description {
  max-width: 500px; /* prevents text from stretching too wide */
  margin-top: 1rem; /* space above description */
  color: #666; /* soft gray text */
  line-height: 1.5; /* adds spacing between text lines */
  font-size: 0.95rem; /* slightly smaller font */
}

.input-container {
  margin-bottom: 2rem; /* space below input section */
}

input {
  padding: 0.5rem; /*space inside input */
  font-size: 1rem; /* text size */
  width: 60%; /*input width */
  max-width: 300px; /* prevent input from becoming too large */ 
}

button {
  padding: 0.5rem 1rem; /* space inside button */
  font-size: 1rem; /* text size */
  margin-left: 0.5rem; /* space left button */
  background-color: #0077ff; /* blue button background */
  color: white; /* white text */
  border: none; /* remove default border */
  border-radius: 5px; /* rounded corners */
  cursor: pointer; /* mouse pointer on hover */
}

ul {
  list-style: none; /* removes bullet points */
  padding: 0; /* removes default spacing */
  max-width: 400px; /* max width */
  margin: auto; /* center horizontally */
}

li {
  background: white; /* white task background */
  margin-bottom: 0.5rem; /* space between task */
  padding: 0.75rem; /* space inside task */
  border-radius: 6px; /* rounded corners */
  display: flex; /* flexbox layout */
  align-items: center; /* vertically center items */
  gap: 10px; /* space between checkbox/text/button */
  box-shadow: 0 0 5px rgba(0,0,0,0.1); /* soft card shadow */
}

li span {
  flex: 1;  /* takes up remaining middle space */
  text-align: left; /* aligh text left */
}

li input[type="checkbox"] {
  margin: 0; /* remove default margin */
  /* Checkbox size */
  width: 18px; 
  height: 18px;  
  accent-color: #0077ff;  /* blue checkbox color */
  cursor: pointer; /* pointer cursor */
}

.delete-btn {
  background: crimson; /* red background */
  color: white; /* white text */
  border: none; /* remove border */
  padding: 0.25rem 0.5rem; /* space inside button */
  border-radius: 4px; /* rounded corners */
  cursor: pointer; /* pointer cursor */
  margin-left: auto; /* push button to far right */
}

footer {
  width: 100%; /* full width */
  text-align: center; /* center footer text */
  background: white; /* white background */ 
  padding: 1.5rem 0; /* space inside footer */
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* shadow above footer */
  margin-top: auto; /* push footer to bottom of page */
}
